div.notices.note p {
    border-top: 30px solid #8451a1;
    background: #31394D;
}

div.notices.note p:first-child:after {
    content: '';
}

div.notices p:first-child:before {
    content: "";
}

div.notices p {
    color: #FFF;
}

h2, h4 {
    text-align: center;
}

h1 {
    text-transform: none;
}